{% extends 'layout.html' %}

{% block title %}
    Rejestracja nowego użytkownika
{% endblock %}

{% block content %}
<!-- SECTION -->
<div class="section" style="margin:auto">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="section-title text-center">
                    <h3 class="title mb-5">Podany link wygasł</h3>
                </div>
                <p class="text-left pt-5">
                    Podany link jest niepoprawny.
                    Sprawdź swoją skrzynkę pocztową i upewnij się, że użyłeś właściwego odnośnika.
                </p>
                <div style="height:30vh"></div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}