<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zresetuj hasło do swojego konta.</title>
</head>
<body>
    <h3>Witaj {{ user.username }},</h3>
    <p>Proszę kliknij w poniższy link w celu zresetowania hasła do twojego konta w sklepie Na Kabelku:</p>
    <a href="http://{{ domain }}{% url 'users:forgot-activate' uidb64=uid token=token %}">
        http://{{ domain }}{% url 'users:forgot-activate' uidb64=uid token=token %}
    </a>
    <br>
    <p>Jeśli to nie ty jesteś nadawcą tej wiadomości, zignoruj ją.</p>
</body>
</html>
