{% extends 'layout.html' %}

{% block content %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Podsumowanie</h3>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-8">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Dane odbiorcy</h3>
                        </div>
                        <div class="form-group name">
                            <div class="first-container">
                                <label for="first-name" class="form-label">Imię</label><br>
                                {{form.first_name}}
                            </div>
                            <div class="last-container">
                                <label for="last-name" class="form-label">Nazwisko</label><br>
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class="form-group email">
                            <label for="email" class="form-label">Email</label><br>
                            {{form.email}}
                        </div>
                        <div class="form-group address">
                            <label for="address" class="form-label">Adres</label><br>
                            {{form.address}}
                        </div>
                        <div class="form-group">
                            <div class="first-container">
                                <label for="city" class="form-label">Miasto</label><br>
                                {{form.city}}
                            </div>
                            <div class="last-container">
                                <label for="zip-code" class="form-label">Kod pocztowy</label><br>
                                {{form.zip_code}}
                            </div>
                        </div>
                        <div class="form-group phone">
                            <label for="tel" class="form-label">Telefon</label><br>
                            {{form.phone}}
                        </div>

                        <!-- Order notes -->
                        <div class="order-notes">
                            <label for="tel" class="form-label">Wiadomość do sprzedającego</label><br>
                            {{form.message}}
                        </div><br>
                        <!-- /Order notes -->

                        <div class="form-group">
                            <label class="form-label">Zamówione produkty</label><br>
                        <!--Products-->
                        {% for order_item in items %}
                            {% comment %} <li>{{details.quantity}}</li> {% endcomment %}
                            {% for product in order_item.item %}
                                <div class="order-item">
                                    <div class="item-img">
                                        <img src="{{product.banner.url}}"/>
                                    </div>
                                    <h6>{{product.title}} ({{order_item.count}}x) - {{order_item.price}}zł</h6>
                                    {% comment %} <a href="{% url 'payments:cart_remove' item.product.id %}">Remove</a> {% endcomment %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <!--/Products-->
                        </div>

                        <div class="form-group">
                            <label>Metoda Dostawy</label><br>
                            {% if form.shipping_method == 'pobranie' %}
                                Kurier za pobraniem (19.99zł)
                            {% elif form.shipping_method == 'kurier' %}
                                Kurier DPD (17.99zł)
                            {% elif form.shipping_method == 'inpost' %}
                                Paczkomat Inpost (12.99zł)
                            {% else %}
                                -
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label>Metoda Płatności</label><br>
                            {% if form.billing_method == 'pobranie' %}
                                Płatność przy odbiorze
                            {% elif form.billing_method == 'przelew'%}
                                Przelew online
                            {% else %}
                                {{ form.billing_method }}
                            {% endif %}
                        </div>

                        <div class="form-group mt-5">
                            <br>
                            <h4>Do zapłaty: {{form.total_price}}zł</h4>
                        </div>
                    </div>

                    <form id="orderForm" action="/payments/order/confirm/" method="POST">
                        <div id="confirm-form-hidden">

                            <!-- CSRF Token (for Django security) -->
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    
                            <label for="first_name">Imię:</label>
                            <input type="text" name="first_name" value="{{form.first_name}}" required><br><br>
                    
                            <label for="last_name">Nazwisko:</label>
                            <input type="text" name="last_name" value="{{form.last_name}}" required><br><br>
                    
                            <label for="email">Email:</label>
                            <input type="email" name="email" value="{{form.email}}" required><br><br>
                    
                            <label for="address">Adres:</label>
                            <input type="text" name="address" value="{{form.address}}" required><br><br>
                    
                            <label for="city">Miasto:</label>
                            <input type="text" name="city" value="{{form.city}}" required><br><br>
                    
                            <label for="zip_code">Kod pocztowy:</label>
                            <input type="text" name="zip_code" value="{{form.zip_code}}" required><br><br>
                    
                            <label for="phone">Telefon:</label>
                            <input type="tel" name="phone" value="{{form.phone}}" required><br><br>
                    
                            <label for="message">Wiadomość do sprzedającego:</label>
                            <textarea name="message">{{form.message}}</textarea><br><br>
                    
                            <label for="shipping_method">Metoda Dostawy:</label>
                            <select name="shipping_method">
                                {%if form.shipping_method == "kurier"%}
                                    <option value="kurier" selected>Kurier DPD</option>
                                {%elif form.shipping_method == "pobranie"%}    
                                    <option value="pobranie" selected>Kurier za pobraniem</option>
                                {%elif form.shipping_method == "inpost"%}
                                    <option value="inpost" selected>Paczkomat Inpost</option>
                                {%else%}
                                    -
                                {%endif%}
                            </select><br><br>
                    
                            <label for="billing_method">Metoda Płatności:</label>
                            <select name="billing_method">
                                {%if form.billing_method == "BLIK"%}
                                    <option value="BLIK" selected>BLIK</option>
                                {%elif form.billing_method == "przelew"%}    
                                    <option value="przelew" selected>Przelew online</option>
                                {%elif form.billing_method == "pobranie"%}
                                    <option value="pobranie" selected>Płatność przy odbiorze</option>
                                {%else%}
                                    -
                                {%endif%}
                            </select><br><br>
                    
                            <h3>Zamówione Produkty:</h3>
                            {% for order_item in items %}
                                {% comment %} <li>{{details.quantity}}</li> {% endcomment %}
                                {% for product in order_item.item %}
                                    <input type="number" name="item-{{product.id}}" value="{{order_item.count}}" min="1">
                                {% endfor %}
                            {% endfor %}
                    
                            <input type="hidden" name="total_price" value="{{form.total_price}}">
                        </div>

                        <div class="row">
                            <button class="primary-btn confirm_btn" id="confirm_btn">Zatwierdź</button>
                        </div>
                    </form>
                    
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}