{% extends 'layout.html' %}

{% block content %}
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				{% for category in categories_home %}
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="{{category.banner.url}}" alt="{{category.name}}">
						</div>
						<div class="shop-body">
							<h3>{{category.name}}</h3>
							<a href="{% url 'products:list_category' category=category.slug %}" class="cta-btn">Przeglądaj <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
				{% endfor %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<input type="hidden" id="price-max">
	<input type="hidden" id="price-min">
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Nowe oferty</h3>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									{% for product in new_products %}
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="{{product.banner.url}}" alt="{{product.name}}">
											<div class="product-label">
												{% if product.discount_percentage > 0.00 %}
													<span class="sale">-{{product.discount_percentage|floatformat:0}}%</span>
												{% endif %}
												{% if product.is_new == True %}
													<span class="new">New</span>
												{% endif %}
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">{{product.category.name}}</p>
											<h3 class="product-name"><a href="/products/product/{{product.slug}}">{{product.title}}</a></h3>
											{% if product.discount_percentage > 0.00 %}
                                            	<h4 class="product-price">{{product.discounted_price}}zł <del class="product-old-price">{{product.price}}zł</del></h4>
											{% else %}
												<h4 class="product-price">{{product.discounted_price}}zł</h4>
											{% endif %}
											{% comment %} <div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div> {% endcomment %}
											<div>
												<p>Dodano: {{product.created_date|date:"d.m.Y"}}</p>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> dodaj do koszyka</button>
										</div>
									</div>
									<!-- /product -->
									{% endfor %}
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hot-deal">
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3 id="days"></h3>
									<span>Dni</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="hours"></h3>
									<span>Godzin</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="minutes">34</h3>
									<span>Minut</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="seconds">60</h3>
									<span>Sekund</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">nowe produkty nadchodzą</h2>
						<p>promocje nawet do 50%</p>
						<a class="primary-btn cta-btn" href="/products/">Zobacz oferty</a>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">najlepsze oferty</h3>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab2" class="tab-pane fade in active">
								<div class="products-slick" data-nav="#slick-nav-2">
									{% for product in top_products %}
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="{{product.banner.url}}" alt="{{product.name}}">
											<div class="product-label">
												{% if product.discount_percentage > 0.00 %}
													<span class="sale">-{{product.discount_percentage|floatformat:0}}%</span>
												{% endif %}
												{% if product.is_new == True %}
													<span class="new">New</span>
												{% endif %}
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">{{product.category.name}}</p>
											<h3 class="product-name"><a href="/products/product/{{product.slug}}">{{product.title}}</a></h3>
											{% if product.discount_percentage > 0.00 %}
                                            	<h4 class="product-price">{{product.discounted_price}}zł <del class="product-old-price">{{product.price}}zł</del></h4>
											{% else %}
												<h4 class="product-price">{{product.discounted_price}}zł</h4>
											{% endif %}
											{% comment %} <div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div> {% endcomment %}
											{% comment %} <div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div> {% endcomment %}
											<div>
												<p>Kupiło {{product.sold_quantity}} osób</p>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> dodaj do koszyka</button>
										</div>
									</div>
									<!-- /product -->
									{% endfor %}
								</div>
								<div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- /Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				{% for category, products in top_products_category.items %}
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">{{category.name}}</h4>
							<div class="section-nav">
								<div id="slick-nav-category-{{category.id}}" class="products-slick-nav"></div>
							</div>
						</div>
						<div class="products-widget-slick" data-nav="#slick-nav-category-{{category.id}}">
							<div>
							{% for product in products %}
								
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{{product.banner.url}}" alt="{{product.name}}">
									</div>
									<div class="product-body">
										<h3 class="product-name"><a href="/products/{{product.slug}}">{{product.title}}</a></h3>
										<h4 class="product-price">{{product.discounted_price}}zł <del class="product-old-price">{{product.price}}</del></h4>
										<p class="product-category">Kupiło {{product.sold_quantity}} osób</p>
									</div>
								</div>
								<!-- /product widget -->

								{% if forloop.counter == 3 %}
									</div>
									<div>
								{% endif %}
							{% endfor %}
							</div>
						</div>
					</div>

					{% if forloop.counter|divisibleby:2 %}
						<div class="clearfix visible-sm visible-xs"></div>
					{% endif %}

				{% endfor %}

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
{% endblock %}